In [1]:
import numpy as np
import pandas as pd

In [2]:
arr1 = np.array([1.1, None, 3, 4])
arr1
arr2 = np.array([1, 2, 3, 4])
print(arr2.dtype)

int32

In [3]:
arr2.sum()

10

In [4]:
arr3 = np.array([1, np.nan, 3, 4])
arr3.dtype

dtype('float64')

In [5]:
1 + np.nan
0* np.nan
arr3.sum()

nan

In [6]:
print(np.nansum(arr3))
print(np.nanmin(arr3))
print(np.nanmax(arr3))

8.0
1.0
4.0

In [7]:
ser = pd.Series([1, np.nan, 2, None])

In [8]:
ser.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [9]:
ser.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [10]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                  [np.nan, 4, 6]])
df.dropna()

     0    1  2
1  2.0  3.0  5

In [11]:
ser = pd.Series([1, np.nan, 2, None, 3], index = list('abcde'))
print(ser.fillna(0))

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [12]:
ser.fillna(method='ffill')
ser.ffill()

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [13]:
ser.fillna(method='bfill')
ser.bfill()

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64