In [1]:
import pandas as pd
import numpy as np

In [2]:
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\User\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\user\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [3]:
pd.__version__

'1.2.4'

In [4]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [6]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
print(ser)

print(ser['b'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

In [7]:
population_dict = {'A': 10,
                  'B': 13,
                  'C': 15,
                  'D': 17}

population = pd.Series(population_dict)
print(population)
print(population['A':'C'])

A    10
B    13
C    15
D    17
dtype: int64
A    10
B    13
C    15
dtype: int64

In [8]:
area_dict = {'A': 1000,
                  'B': 1300,
                  'C': 1500,
                  'D': 1700}

area = pd.Series(area_dict)
print(area)

A    1000
B    1300
C    1500
D    1700
dtype: int64

In [9]:
states = pd.DataFrame({'population': population, 'area': area})
print(states)
print(states.index, '\n')
print(states.columns)

   population  area
A          10  1000
B          13  1300
C          15  1500
D          17  1700
Index(['A', 'B', 'C', 'D'], dtype='object')

Index(['population', 'area'], dtype='object')

In [10]:
print(states['area'])

A    1000
B    1300
C    1500
D    1700
Name: area, dtype: int64

In [11]:
arr = np.random.rand(3,2)
print(arr, '\n')

df = pd.DataFrame(arr, columns=['foo', 'bar'], index = ['a', 'b,', 'c'])
print(df)

[[0.21624839 0.93139455]
 [0.84258533 0.02784018]
 [0.63681207 0.42869412]]

         foo       bar
a   0.216248  0.931395
b,  0.842585  0.027840
c   0.636812  0.428694

In [12]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
print(ser)
print('a' in ser) #인덱스
print(0.25 in ser) #특정값을 찾는건 안됨

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
True
False

In [13]:
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125
print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [14]:
print(states.area)
print(states['area']) #얘가 더 활용성이 좋음

A    1000
B    1300
C    1500
D    1700
Name: area, dtype: int64
A    1000
B    1300
C    1500
D    1700
Name: area, dtype: int64

In [15]:
states['density'] = states['population'] / states['area']
print(states)

   population  area  density
A          10  1000     0.01
B          13  1300     0.01
C          15  1500     0.01
D          17  1700     0.01

In [16]:
states.loc['A' : 'C'] # 명시적 인덱스

   population  area  density
A          10  1000     0.01
B          13  1300     0.01
C          15  1500     0.01

In [17]:
states.iloc[:3] #암묵적 인덱스 0,1,2

   population  area  density
A          10  1000     0.01
B          13  1300     0.01
C          15  1500     0.01

In [21]:
print(states.loc[states.density > 100], ['population', 'density'])

Empty DataFrame
Columns: [population, area, density]
Index: [] ['population', 'density']